@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Apples</h1>
        <p>
            La mela, dal latino malum, è il frutto del melo. Il melo ha origine in Asia centrale (attuale Kazakistan) e l'evoluzione dei meli botanici risalirebbe al Neolitico. La specie è presente in Italia nominalmente con circa 2000 varietà, ma la definizione più precisa è difficile data la sovrapposizione storica delle denominazioni, e le specie estinte o irreperibili. Il termine "mela" deriva dal latino tardo melum (dal greco antico μἢλον 'mêlon') per il classico malum a sua volta dal dorico μâλον 'mâlon'. Il termine potrebbe essere messo in relazione con la radice indoeuropea *mal- dal significato di "essere molle", "dolce" e avere forse un legame con "malva" e "miele".
        </p>
        <img src="~/apple.jpg" height="150" />
    </div>
